* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #fff;
  color: #222;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  border-bottom: 1px solid white;
  position: sticky;
  top: 0;
  z-index: 999;
  background: rgb(255, 251, 251);
  transition: all 0.35s ease;
  padding: 18px 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #ff385c;
}

.logo-icon {
  font-size: 28px;
  margin-right: 2px;
  vertical-align: middle;
}

.nav-tabs {
  display: flex;
  gap: 40px;
  font-weight: 500;
}

img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 2px;
}

.tab {
  position: relative;
  padding-bottom: 8px;
}

.tab.active {
  border-bottom: 2px solid #000;
}

.new {
  background: #2f4f6f;
  color: #ffffffc4;
  font-size: 10px;
  padding: 3px 6px;
  border-radius: 8px;
  margin-left: 6px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 14px;
}

.icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f2f2f2;
  display: grid;
  place-items: center;
}

.search-section {
  display: flex;
  justify-content: center;
  padding: 30px 0 40px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 10px 16px;
  border-radius: 60px;
  border: 1px solid #ddd;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.search-item {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.search-item span {
  color: #717171;
}

.divider {
  width: 1px;
  height: 30px;
  background: #ddd;
}

.search-btn {
  background: #ff385c;
  border: none;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

.originals {
  padding: 0px 110px;
}


.section-header {
  display: flex;
  align-items: center;
}

.section-header h2 {
  font-size: 26px;
  font-weight: 600;
}

.arrow {
  background: #f2f2f2;
  padding: 8px 12px;
  border-radius: 50%;
}

.subtitle {
  color: #717171;
  margin: 6px 0 20px;
}


.cards-row {
  display: flex;
  gap: 18px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.homes-row::-webkit-scrollbar {
  display: none;
}

.card {
  min-width: 200px;
  position: relative;
}

.card img {
  width: 100%;
  height: 193px;
  object-fit: cover;
  border-radius: 18px;
}

.card h4 {
  font-size: 15px;
  font-weight: 600;
  margin-top: 8px;
}

.location {
  font-size: 14px;
  color: #717171;
  margin-top: 4px;
}

.price {
  font-size: 14px;
  margin-top: 2px;
}

.muted {
  color: #717171;
}

.badge {
  position: absolute;
  top: 14px;
  left: 14px;
  background: #fff;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.share {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 16px;
}



.see-all-card {
  min-width: 200px;
  height: 193px;
  background: #ffffff;
  border: solid 0.2px #ddd;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.204);
  cursor: pointer;
}

.stacked-images {
  position: relative;
  width: 120px;
  height: 100px;
}

.img {
  position: absolute;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 14px;
  border: 3px solid #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.back {
  top: -20px;
  left: 15px;
  transform: rotate(-5deg);
}

.middle {
  top: -8px;
  left: 65px;
  transform: rotate(4deg);
  z-index: 1;
}

.front {
  top: 10px;
  left: 0px;
  transform: rotate(-6deg);
  z-index: 2;
}

.footer {
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  padding: 40px 80px;
}

.footer-top h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.footer-tabs {
  display: flex;
  gap: 20px;
  font-size: 14px;
  margin-bottom: 25px;
}

.footer-tabs span {
  cursor: pointer;
  color: #717171;
}

.footer-tabs .active {
  color: #000;
  border-bottom: 2px solid #000;
  padding-bottom: 4px;
  transition: border-bottom 0.3s ease;

}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  font-size: 14px;
}

.footer-grid h4 {
  font-weight: 600;
  margin-bottom: 4px;
}

.footer-grid p {
  color: #717171;
  margin-bottom: 18px;
}

.show-more {
  font-weight: 600;
  color: #000;
  cursor: pointer;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 40px 0;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.footer-links h5 {
  font-size: 14px;
  margin-bottom: 12px;
}

.footer-links a {
  display: block;
  font-size: 14px;
  color: #222;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #717171;
}

.footer-lang {
  display: flex;
  gap: 15px;
  color: #222;
  font-weight: 600;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a:hover {
  transform: scale(1.1);
  opacity: 0.9;
}



/* =========================
   LARGE SCREENS (≥1440px)
========================= */
@media (min-width: 1440px) {
  .originals {
    padding: 0 140px;
  }

  .cards-row {
    gap: 22px;
  }
}

/* =========================
   LAPTOPS (1024px – 1439px)
========================= */
@media (max-width: 1439px) {
  .originals {
    padding: 0 80px;
  }

  .search-bar {
    gap: 60px;
  }
}

/* =========================
   TABLETS (768px – 1023px)
========================= */
@media (max-width: 1023px) {

  /* NAVBAR */
  .navbar {
    padding: 14px 20px;
  }

  .nav-tabs {
    gap: 24px;
  }

  .logo-text {
    display: none;
  }

  /* SEARCH BAR */
  .search-bar {
    gap: 30px;
    padding: 10px 14px;
  }

  /* CONTENT */
  .originals {
    padding: 0 40px;
  }

  .section-header h2 {
    font-size: 22px;
  }

  /* FOOTER */
  .footer {
    padding: 30px 40px;
  }

  .footer-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-links {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .footer-meta {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}

/* =========================
   MOBILE (≤767px)
========================= */
@media (max-width: 767px) {

  /* NAVBAR */
  .navbar {
    padding: 12px 16px;
  }

  .nav-tabs {
    gap: 14px;
    font-size: 13px;
  }

  .nav-right span {
    display: none;
  }

  /* SEARCH BAR */
  .search-bar {
    flex-direction: column;
    gap: 12px;
    border-radius: 18px;
    width: 90%;
  }

  .divider {
    display: none;
  }

  .search-btn {
    width: 100%;
    border-radius: 12px;
  }

  /* CONTENT */
  .originals {
    padding: 0 16px;
  }

  .section-header h2 {
    font-size: 20px;
  }

  .card {
    min-width: 160px;
  }

  .card img {
    height: 160px;
  }

  .card h4 {
    font-size: 14px;
  }

  .price,
  .location {
    font-size: 13px;
  }

  /* SEE ALL CARD */
  .see-all-card {
    min-width: 160px;
    height: 160px;
  }

  /* FOOTER */
  .footer {
    padding: 24px 16px;
  }

  .footer-tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    font-size: 13px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer-links {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .footer-meta {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }
}

/* =========================
   SMALL MOBILES (≤480px)
========================= */
@media (max-width: 480px) {
  /* .nav-tabs img {
    display: none;
  } */


  .nav-right span {
    display: inline;
    font-size: 13px;
    white-space: nowrap;
  }

  .tab a {
    font-size: 12px;
  }

  .search-item strong {
    font-size: 12px;
  }

  .search-item span {
    font-size: 11px;
  }

  .section-header h2 {
    font-size: 18px;
  }

  .card h4 {
    font-size: 13px;
  }

  .price,
  .location {
    font-size: 12px;
  }
}